<a href="https://colab.research.google.com/github/Monicarys/Auditorias/blob/main/Intento_mejora_automatizacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import os
#Muestra los archivos
os.listdir()

['.config', 'D_Lerma.xlsm', 'D_AcambaydeRuízCastañeda.xlsm', 'sample_data']

In [3]:
#Hacemos una lista de los archivos con terminacion .xlsm
archivos=[file for file in os.listdir() if ".xlsm" in file]

In [161]:
#Haremos algunas funciones

#Esta nos dice el total de veces que se repite una palabra en un data frame X
def contar(X,palabra):
  repeticiones=(X==palabra).sum().sum()
  return repeticiones

#Nos indicara los meses de cada modulo
def modulo_mensual(X,mes):
  if mes== 'octubre':
    z=X.iloc[:,[0,1,2]]
  elif mes== 'noviembre':
    z=X.iloc[:,[3,4,5]]
  elif mes== 'diciembre':
    z=X.iloc[:,[6,7,8]]
  return z

def info(modulo):
  mname = [name for name in globals() if globals()[name] is modulo]
  return [mname, contar(modulo,'si'), contar(modulo,'no') , contar(modulo,'si') + contar(modulo,'no') ] # creamos un diccionario]

In [160]:
info(M1)

ValueError: ignored

In [153]:
vnames = [name for name in globals() if globals()[name] is modulo]

In [154]:
vnames

['modulo']

In [107]:
#algunas variables independientes

In [120]:
datos=[]
for archivo in archivos:
  df=pd.read_excel(archivo)
  M1=df.iloc[11:49, 6:15] 
  M2=df.iloc[58:81, 6:15]
  M3=df.iloc[89:98, 6:15]
  M4=df.iloc[106:128, 6:15]

  modulos=[M1,M2,M3,M4]
  
  info(str(archivo),str(M1))
  #for modulo in modulos:
   # print(info(archivo,modulo))

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

AttributeError: ignored

In [5]:
type(M1)

pandas.core.frame.DataFrame

In [14]:
contar()

In [124]:
total_palabra(M1,'si')

28

In [137]:
total_palabra(M1,'si')

28

In [125]:
contar(M1,'si')

0

In [50]:
M1.iloc[:,[6,7,8]]

   Unnamed: 12 Unnamed: 13 Unnamed: 14
11          si          si         NaN
12         NaN         NaN         NaN
13          no          no         NaN
14          si          si         NaN
15          no          no         NaN
16          si          si         NaN
17          no          no         NaN
18          si          no         NaN
19          si          no         NaN
20          si          no         NaN
21          si          no         NaN
22          si         NaN         NaN
23         NaN         NaN         NaN
24         NaN         NaN         NaN
25         NaN         NaN         NaN
26         NaN         NaN         NaN
27         NaN         NaN         NaN
28         NaN         NaN         NaN
29         NaN         NaN         NaN
30         NaN         NaN         NaN
31         NaN         NaN         NaN
32         NaN         NaN         NaN
33         NaN         NaN         NaN
34         NaN         NaN         NaN
35         NaN         NaN         NaN
36         NaN         NaN         NaN
37         NaN         NaN         NaN
38         NaN         NaN         NaN
39         NaN         NaN         NaN
40         NaN         NaN         NaN
41         NaN         NaN         NaN
42         NaN         NaN         NaN
43       .TIFF        .TXT         NaN
44         NaN         NaN         NaN
45         NaN         NaN         NaN
46         NaN         NaN         NaN
47         NaN         NaN         NaN
48         NaN         NaN         NaN

In [85]:
M1.iloc[0:49, 6:9]

   Unnamed: 12 Unnamed: 13 Unnamed: 14
11          si          si         NaN
12         NaN         NaN         NaN
13          no          no         NaN
14          si          si         NaN
15          no          no         NaN
16          si          si         NaN
17          no          no         NaN
18          si          no         NaN
19          si          no         NaN
20          si          no         NaN
21          si          no         NaN
22          si         NaN         NaN
23         NaN         NaN         NaN
24         NaN         NaN         NaN
25         NaN         NaN         NaN
26         NaN         NaN         NaN
27         NaN         NaN         NaN
28         NaN         NaN         NaN
29         NaN         NaN         NaN
30         NaN         NaN         NaN
31         NaN         NaN         NaN
32         NaN         NaN         NaN
33         NaN         NaN         NaN
34         NaN         NaN         NaN
35         NaN         NaN         NaN
36         NaN         NaN         NaN
37         NaN         NaN         NaN
38         NaN         NaN         NaN
39         NaN         NaN         NaN
40         NaN         NaN         NaN
41         NaN         NaN         NaN
42         NaN         NaN         NaN
43       .TIFF        .TXT         NaN
44         NaN         NaN         NaN
45         NaN         NaN         NaN
46         NaN         NaN         NaN
47         NaN         NaN         NaN
48         NaN         NaN         NaN

In [98]:
datos = [[10, 11, 12, 13],
         [20, 21, 22, 23],
         [30, 31, 32, 33]]

In [99]:
datos.append([1,2,3])

In [91]:
datos

[[10, 11, 12, 13], [20, 21, 22, 23], [30, 31, 32, 33], [1, 2, 3]]

In [100]:
set=[[0,1],[45,4]]

In [101]:
datos.append(set)

In [102]:
datos

[[10, 11, 12, 13],
 [20, 21, 22, 23],
 [30, 31, 32, 33],
 [1, 2, 3],
 [[0, 1], [45, 4]]]

In [103]:
datos.extend(set)

In [104]:
datos

[[10, 11, 12, 13],
 [20, 21, 22, 23],
 [30, 31, 32, 33],
 [1, 2, 3],
 [[0, 1], [45, 4]],
 [0, 1],
 [45, 4]]