<a href="https://colab.research.google.com/github/Monicarys/Auditorias/blob/main/Mejora_automatizacion_01032021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
#Muestra los archivos
os.listdir()

['.config', 'D_AcambaydeRuízCastañeda.xlsm', 'D_Lerma.xlsm', 'sample_data']

In [20]:
#Hacemos una lista de los archivos con terminacion .xlsm
archivos=[file for file in os.listdir() if ".xlsm" in file]
archivos

['D_AcambaydeRuízCastañeda.xlsm', 'D_Lerma.xlsm']

In [55]:
#Definimos la siguiente funcion
#Esta nos dice el total de veces que se repite una palabra en un data frame X
def contar(X,palabra):
  repeticiones=(X==palabra).sum().sum()
  return repeticiones

In [53]:
#La siguiente funcion nos dice el nombre de la variable del modulo
def nombre_modulo(M):
  vnames = [name for name in globals() if globals()[name] is M][0]
  return vnames
nombre_modulo(M1)

'M1'

In [13]:
#Esta funcion nos indicara los meses de cada modulo 'X'
def modulo_mensual(X,mes):
  if mes== 'octubre':
    z=X.iloc[:,[0,1,2]]
  elif mes== 'noviembre':
    z=X.iloc[:,[3,4,5]]
  elif mes== 'diciembre':
    z=X.iloc[:,[6,7,8]]
  return z

In [79]:
#La siguiente función nos indicara en una lista la informacion de los archivos y modulos de la siguiente manera:
# my_columns=['Entidad', 'Tipo', 'Modulo', 'Total de si', 'Total de no', 'Pocentaje de cumplimiento en octubre', 'Porcentaje de cumplimiento en noviembre', 'porcentaje de cumplimiento en diciembre', 'porcentaje de cumplimiento trimestral']

def info_modulo(M, archivo):
  info= np.array([[(str(archivo)[:-5])[2:],
                         (str(archivo)[:1]),
                         nombre_modulo(M),
                         contar(M,'si'),
                         contar(M,'no'),
                         contar(modulo_mensual(M,'octubre'), 'si') / (contar(modulo_mensual(M,'octubre'), 'si')+contar(modulo_mensual(M,'octubre'), 'no'))*100,
                         contar(modulo_mensual(M,'noviembre'), 'si') / (contar(modulo_mensual(M,'noviembre'), 'si')+contar(modulo_mensual(M,'noviembre'), 'no'))*100,
                         contar(modulo_mensual(M,'diciembre'), 'si') / (contar(modulo_mensual(M,'diciembre'), 'si')+contar(modulo_mensual(M,'diciembre'), 'no'))*100,
                         contar(M, 'si') / (contar(M, 'si')+contar(M, 'no'))*100
                        ]])
  return info

In [82]:
#Vamos haciendo la estructura de nuestro dataframe
#Definimos los encabezados de las columnas
my_columns=['Entidad', 'Tipo', 'Modulo', 'Total de si', 'Total de no', 'Pocentaje de cumplimiento en octubre', 'Porcentaje de cumplimiento en noviembre', 'porcentaje de cumplimiento en diciembre', 'porcentaje de cumplimiento trimesttral']
#definimos nuestra primer fila como vacia 
my_data = np.array([['','','','','','','','','' ]])


for archivo in archivos:
  df=pd.read_excel(archivo)
  M1=df.iloc[11:49, 6:15] 
  M2=df.iloc[58:81, 6:15]
  M3=df.iloc[89:98, 6:15]
  M4=df.iloc[106:128, 6:15]

  modulos=[M1,M2,M3,M4]
  for moduloski in modulos:
    #Vamos agregando cada fila con la informacion de cada modulo
    my_data=np.append (my_data, info_modulo(moduloski,archivo), axis = 0)


#Ya que tenemos nuestro array 'my_data', lo convertimos a un data fram
my_dataframe = pd.DataFrame(data=my_data, columns=my_columns)
my_dataframe

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: RuntimeWarning: invalid value encountered in long_scalars
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: RuntimeWarning: invalid value encountered in long_scalars
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in long_scalars
  # Remove the CWD from sys.path while we load stuff.

                  Entidad  ... porcentaje de cumplimiento trimesttral
0                          ...
1  AcambaydeRuízCastañeda  ...                     57.377049180327866
2  AcambaydeRuízCastañeda  ...                                   50.0
3  AcambaydeRuízCastañeda  ...                      66.66666666666666
4  AcambaydeRuízCastañeda  ...                                   50.0
5                   Lerma  ...                                   50.0
6                   Lerma  ...                      45.45454545454545
7                   Lerma  ...                                   25.0
8                   Lerma  ...                                   50.0

[9 rows x 9 columns]

In [85]:
#Por ultimo exportamos a una tabla de excel 
#exportamos la tabla a un exel 
my_dataframe.to_excel(r'/content/Resultados.xlsx', index = False)